<p>Pick your dates</p>

<%= form_tag dashboard_graph_path, method: :get, remote:true do %>
<%= hidden_field_tag :product_id, product.id %>
  <div style="position: relative">
    <%= text_field_tag :start_date, "", id: "datetimepicker-#{product.id}-1" %>
  </div>
  <div style="position: relative">
    <%= text_field_tag :end_date, "", id: "datetimepicker-#{product.id}-2"  %>
  </div>
  <%= submit_tag :submit, id: "display" %>
<% end %>

<% content_for(:after_js) do %>
  <script type="text/javascript">
    $('#datetimepicker-<%= product.id %>-1').datetimepicker( {format: "YYYY/MM/DD" } );
    $('#datetimepicker-<%= product.id %>-2').datetimepicker( {format: "YYYY/MM/DD" } );
  </script>
<% end %>

<script type="text/javascript">
  function displayGraph(){
    $.ajax({
      type: "GET",
      url:
      success:
      error:
    })
  }
</script>

<!--<script>
  $(document).ready(function() {
    $('#display').click(function(e) {
      e.preventDefault();
      displayGraph();
    });
  });
</script>-->
