<div class="trend box-component">
  <div class="trend__card js-trend__card">
    <span class="trend__icon trend--status--<%= product.set_trend_status %> ic-<%=product.name.split.join.downcase%>"></span>
    <span class="trend__name trend--status--<%= product.set_trend_status %>">
      <%= product.name.capitalize %>
    </span>
    <p class="trend__current__title">Current Month</p>
    <span class="trend__current__value">
      €<%= product.current_month %>/kg
    </span>
    <p class="trend__next__title">Next Month</p>
    <span class="trend__next__value trend--status--<%= product.set_trend_status %>">
      €<%= product.forecast_next_month %>/kg
    </span>
    <span class="trend__arrow trend--status--<%= product.set_trend_status %> wi wi-direction-<%= product.set_trend_status %>-right">
    </span>
  </div>
  <div class="trend__graph hidden">
    <%= render "datepicker", product: product %>
    <div id="product-<%= product.id %>" class="trend__graph__canvas" >
      <% if @start && @end && @product_id == product.id.to_s %>
        <%= area_chart product.historic_data_array(@start, @end), id: "chart-#{product.id}", colors: [product.set_graph_status]  %>
      <% else %>
      <div class="graph__blankstate">
        <p>Select a date to see the graph</p>
      </div>
      <% end %>
    </div>
  </div>
</div>
