
<!-- ************* -->
<!-- SKY CONDITION -->
<!-- ************* -->
<div class="utility__card box__component box__section--padding">
  <p class="utility__title">Sky condition</p>
  <span class="utility__icon">
    <i class="wi wi-<%= weather_icon_change %>"></i>
  </span>
  <span class="utility__data"><%= main_weather %></span>
</div>

<!-- ************* -->
<!--   SUN HOURS   -->
<!-- ************* -->

<div class="utility__card box__component box__section--padding">
  <p class="utility__title">Sun hours</p>
  <span class="utility__icon">
    <i class="wi wi-time-2"></i>
  </span>
  <% sunrise_time %>
  <% sunset_time %>
  <span class="utility__data"><%= hours_sun %> hrs</span>
</div>

<!-- ************* -->
<!--  WIND SPEED   -->
<!-- ************* -->

<div class="utility__card box__component box__section--padding">
  <p class="utility__title">Wind Speed</p>
  <span class="utility__icon">
    <i class="wi wi-strong-wind"></i>
  </span>
  <span class="utility__data"><%= wind_speed.round().to_s %> m/s</span>
</div>

<!-- ************* -->
<!--  TEMPERATURE  -->
<!-- ************* -->

<div class="utility__card box__component box__section--padding">
  <p class="utility__title">Temperature</p>
  <span class="utility__icon">
    <i class="wi wi-thermometer"></i>
  </span>
  <span class="utility__data"><%= temperature.round().to_s %> °C </span>
</div>

<!-- ************* -->
<!-- AIR HUMIDITY  -->
<!-- ************* -->

<div class="utility__card box__component box__section--padding">
  <p class="utility__title">Air Humidity</p>
  <span class="utility__icon">
    <i class="wi wi-humidity"></i>
  </span>
  <span class="utility__data"><%= humidity.round().to_s %> %</span>
</div>
