<%= content_for :title, "GoCrops! - Your Crops" %>

<div class="grid-dashboard__crops">
  <h2 class="section-main-title section-title">Crops</h2>
  <%= link_to 'Add new crop', new_dashboard_crop_path, class: "section-main-cta section-cta btn-section-cta btn__create", data: { toggle: "modal" , target: "#newCropModal" } %>
  <%= render "form-modal" %>
  <table class="table table-striped table-responsive section-main">
    <thead class="thead-default">
      <th>Product</th>
      <th>Description</th>
      <th>Transport</th>
      <th>Inventory</th>
      <th></th>
    </thead>
    <tbody>
      <% @crops.each do |c|  %>
      <tr>
          <td><%= c.product.name %></td>
          <td><%= c.description %></td>
          <td><%= c.transport ? "Yes" : "No" %></td>
          <td><%= c.harvests.sum(:quantity) %> kgs</td>
          <td class="text-right">
            <%= link_to "Open", dashboard_crop_path(c), class: "btn btn-success" %>
            <%= link_to "Edit", edit_dashboard_crop_path(c), class: "btn btn-primary" %>
            <%= link_to "Delete", dashboard_crop_path(c), method: :delete, class: "btn btn-danger"%>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
