<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<table>
  <td><%= main_weather %></td>
  <td><%= weather_description %></td>
  <td><%= temperature %></td>
  <td><%= temp_max %></td>
  <td><%= temp_min %></td>
  <td><%= humidity %></td>
  <td><%= wind_speed %></td>
  <td><%= clouds %></td>
  <td><%= sunrise_time %></td>
  <td><%= sunset_time %></td>
  <td><%= day_duration %></td>
</table>
