<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
<table>
  <td><%= "Weather in #{current_user.farm_location}  #{main_weather} #{Time.now.strftime("%X")}" %></td>
  <td><img src="http://openweathermap.org/img/w/<%="#{session[:weather]["weather"].first["icon"]}.png"%>" alt=""></td>
  <td><%=  weather_description %></td>
  <td><%= "Temperature #{temperature.round(2).to_s} °C" %></td>
  <td><%= "Minimun temperature  #{temp_max.round(2).to_s} °C"  %></td>
  <td><%= "Maximun temperature #{temp_min.round(2).to_s} °C "%></td>
  <td><%= "Air humidity  #{humidity.round(2).to_s}%" %></td>
  <td><%= "Wind speed #{wind_speed.round(2).to_s} m/s "%></td>
  <td><%= clouds %></td>
  <td><%= sunrise_time.strftime("%X")  %></td>
  <td><%= sunset_time.strftime("%X") %></td>
  <td><%= hours_sun %></td>
</table>
