<div class="grid-dashboard__profile profile-index">
	<h2 class="section-main-title">My Info</h2>
  <%= link_to "Edit Profile", edit_dashboard_profiles_path, class: "section-main-cta btn-section-cta btn__edit" %>
	<div class="section-main box-component box-section box-section__padding">
    <%= cl_image_tag @user.user_avatar, class: "responsive-image user-profile-picture" %>
    <h3 class="sub-section-main-header"><%= "#{@user.first_name} #{@user.last_name}" %></h3>
		<h4 class="sub-section-title">Bio</h4>
		<p><%= @user.bio %></p>
		<h4 class="sub-section-title">Contact</h4>
		<ul>
			<li><%= @user.email %></li>
			<li><%= @user.phone %></li>
		</ul>
	</div>
	<h2 class="section-sidebar-title">Farm</h2>
	<div class="section-sidebar box-component box-section">
		<img src="https://unsplash.it/600/400?image=915" alt="Farm name" class="responsive-image farm-profile-picture">
    <!-- <%= cl_image_tag @user.farm_picture, class: "responsive-image user-profile-picture" %> -->
		<div class="sub-section-farm-info box-section__padding">
			<h3 class="sub-section-header"><%= @user.farm_name %></h3>
			<h4 class="sub-section-title">Address</h4>
			<p><%= @user.farm_location %></p>
		</div>
	</div>
	<div class="aside box-component box-section box-section__padding">
		<h4 class="sub-section-title__tag">Certificate</h4>
		<dl>
			<dt class="sub-section-title">Issue date</dt>
			<dd>21/10/2014</dd>
		</dl>
		<dl>
			<dt>Expiration date</dt>
			<dd>21/10/2014</dd>
		</dl>
	</div>
</div>

<%= @user.latitude %>
<br>
<%= @user.longitude %>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var location = <%= raw @instrument_coordinates.to_json %>;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    });
  </script>
<% end %>

