<%= content_for :title, "GoCrops! - #{current_user.farm_name}" %>

<div class="grid-dashboard__profile">

	<h2 class="section-main-title section-title">My Info</h2>
	<%= link_to "Edit Profile", edit_dashboard_profiles_path, class: "section-main-cta section-cta btn-section-cta btn__edit" %>
	<!-- PROFILE SECTION -->
	<div class="section-main user__section">
    <%= cl_image_tag @user.user_avatar, class: "user__section__picture" %>
    <% if current_user.first_name.present? && current_user.last_name.present? %>
    <h3 class="user__section__title"><%= "#{@user.first_name.capitalize} #{@user.last_name.capitalize}" %></h3>
    <% end %>
		<h4 class="user__section__subtitle">Bio</h4>
		<p 	class="user__section__description"><%= @user.bio %></p>
		<h4 class="user__section__subtitle">Contact</h4>
		<ul class="user__section__contact">
			<% if @user.email.present? %>
				<li>
					<p>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<%= @user.email %>
					</p>
				</li>
			<% end %>
		    <% if @user.phone.present? %>
		    <li>
					<p>
						<i class="fa fa-phone" aria-hidden="true"></i>
						<%= @user.phone %>
					</p>
				</li>
		    <% end %>
		</ul>
	</div>

	<h2 class="section-sidebar-title section-title">Farm</h2>
	<!-- FARM SECTION -->
	<div class="section-sidebar farm__section">
		<div class="farm__section__picture">
			<%= cl_image_tag @user.farm_picture %>
		</div>

		<div class="farm__section__info">
			<h3><%= @user.farm_name %></h3>
			<h4>Address</h4>
			<p><%= @user.farm_location %></p>
		</div>
		<div id="map" class="farm__section__map" style="width: 100%; height: 100%;"></div>
	</div>
	<!-- CERTIFICATE SECTION -->
	<% if current_user.farm_certification.present? %>
		<div class="aside certificate__section">
			<h4 class="certificate__section__title">Certificate</h4>
			<div class="certificate__info">
				<i class="fa fa-check" aria-hidden="true"></i>
				<dl>
					<dt>Issue date</dt>
					<dd><%= current_user.certificate_issue_date %></dd>
				</dl>
				<dl>
					<dt>Expiration date</dt>
					<dd><%= current_user.certificate_expiration_date %></dd>
				</dl>
			</div>
		</div>
	<% end %>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var location = <%= raw @user_coordinates.to_json %>;
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    });
  </script>
<% end %>
