<%= content_for :title, "GoCrops!" %>

<%= render 'banner' %>

<div class="home__stats">
  <p>250<span>farmers</span></p>
  <p>5000t<span>organic food</span></p>
  <p>$1.5mi<span>shared revenue</span></p>
  <p>34%<span>profit increase</span></p>
</div>

<div class="home__features">
  <h2>Grow Digital</h2>
  <div class="home__features__img">
    <%= image_tag "home__phone--front.png", class: "home__features__img--front" %>
    <%= image_tag "home__phone--back.png", class: "home__features__img--back" %>
  </div>
  <div class="home__features__item">
    <h4>get all information you need</h4>
    <p>Receive constant updates and predictions on your crops and price changes! Take the smartest decision based in real time info about the market.</p>
  </div>

  <div class="home__features__item">
    <h4>easy and stable access</h4>
    <p>Our platform is on 24 hours 7 days a week. We have pricing information for most crops</p>
  </div>

  <div class="home__features__item">
    <h4>no smartphone required</h4>
    <p>Not having an internet connection isn't an issue. Get price information via SMS (alpha testing).</p>
  </div>
</div>

<div id="map" class="home__map" style="width: 100%; height: 250px;"></div>

<div class="home__users">
  <h2>Meet Out Friends</h2>
  <div class="home__users__picture">
    <%= image_tag "home_users_woman.jpg" %>
  </div>
  <p class="home__users__testimony">
    <span>"</span>Meet Patricia, a foodie lovin’ farmer who one of our GoCrops in Brasília. Patricia started GoCrops in 2017 and since then she has seen her products being connected to more markets than ever."
  </p>
  <div class="home__users__picture">
    <%= image_tag "home_users_man.jpg" %>
  </div>
  <p class="home__users__testimony">
    <span>"</span>It all started with a life-changing phone call. Three months ago, Zé da Cebola went from having only one market access via a single middleman to selling its organic onions to 3 online food markets. Our app helped him organize his production and having more tools to take better decisions"
  </p>

</div>

<div class="home__secondary__cta">
  <%= link_to "Sing up now. It's free", new_user_registration_path, class:"banner__cta btn-primary-cta" %>
</div>

<%= render 'footer' %>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
