<%= simple_form_for @crop, url: dashboard_crop_path(@crop), method: :patch do |f| %>
  <h3> Harvests </h3>
  <div class="utility_card box-component box-section__padding">
    <div id="harvests">
      <%= f.simple_fields_for :harvests do |harvest| %>
        <%= render 'harvest_fields', f: harvest %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Add harvest', f, :harvests, class: "btn btn-primary"  %>
      </div>
    <%= f.submit  %>
    </div>
  <% end %>
</div >
