<%= simple_form_for @crop, url: dashboard_crop_path(@crop), method: :patch do |f| %>
  <h3> Harvests </h3>
  <div id="harvests">
    <%= f.simple_fields_for :harvests do |harvest| %>
      <%= render 'harvest_fields', f: harvest %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'add harvest', f, :harvests %>
    </div>
  <%= f.submit  %>
  </div>
<% end %>
