<div class="container crop__container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="crop__details">
          <h1><%= @crop.product.name %></h1>
          <h4>Description:</h4>
          <p><%= @crop.description %></p>
          <h4>Transport:</h4>
          <p> <%= @crop.transport ? 'Yes' : 'No'  %></p>
          <div class="crop__datails__control">
            <span><%= link_to "Edit", edit_dashboard_crop_path(@crop), class: "btn btn-primary" %></span>
            <span><%= link_to "Delete", dashboard_crop_path(@crop), method: :delete, class: "btn btn-danger"%></span>
          </div>
     </div>
    </div>
    <div class="col-sm-4">
      <h2>Inventory</h2>
      <div class="crop__inventory">
        <p id="inventory"><%= @crop.harvests.sum(:quantity) %> kgs</p>
      </div>
      <h2>Harvest Schedule</h2>
      <div class="crop__harvest">
        <table class="table table-striped">
          <thead>
            <tr>
              <th> Dates </th>
              <th> Quantity </th>
              <th> Delete </th>
            </tr>
          </thead>
          <tbody>
            <% @crop.harvests.each do |harvest| %>
            <tr id="harvest_<%=harvest.id.to_s%>">
              <td><%= harvest.date.strftime("%d/%m/%y") %></td>
              <td><%= harvest.quantity %> kgs </td>
              <td>
                <%= link_to dashboard_harvest_path(harvest), method: :delete, remote: true, class: "btn btn-danger btn-sm btn-block" do %>
                <i class="fa fa-times" aria-hidden="true"></i>
                <% end %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <button type="button" class="btn btn-primary btn-block text-uppercase" data-toggle="modal" data-target="#newCocktailModal">
          Add New Harvest
        </button>
        <%= render "harvest_modal" %>
      </div>
    </div>
  </div>
</div>
