<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="box-component box-section__padding">
          <h2><%= @crop.product.name %></h2>
          <p>Transport: <%= @crop.transport ? 'Yes' : 'No'  %></p>
          <h3>Description:</h3>
          <p><%= @crop.description %></p>
          <p><%= link_to "Edit", edit_dashboard_crop_path(@crop), class: "btn btn-primary" %></p>
          <p><%= link_to "Return", dashboard_crops_path, class: "btn btn-primary"%></p>
     </div>
    </div>
    <div class="col-sm-4">
      <h3>Inventory</h3>
      <div class="utility_card box-component box-section__padding">
        <p id="inventory"><%= @crop.harvests.sum(:quantity) %> kgs</p>
      </div>
        <table>
          <tr>
            <th> Dates</th>
            <th> Quantity</th>
          </tr>
          <% @crop.harvests.each do |harvest| %>
          <tr id="harvest_<%=harvest.id.to_s%>">
            <td><%= harvest.date.strftime("%d/%m/%y") %></td>
            <td><%= harvest.quantity %> kgs </td>
            <td><%= link_to "Remove", dashboard_harvest_path(harvest), method: :delete, remote: true, class: "btn btn-danger" %></td>
          </tr>
          <% end %>
        </table>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newCocktailModal">
       Add Harvest
      </button>
      <%= render "modal" %>
    </div>
  </div>
</div>
