<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="box__component box__section--padding">
          <h2><%= @crop.product.name %></h2>
          <p>Transport: <%= @crop.transport ? 'Yes' : 'No'  %></p>
          <h3>Description:</h3>
          <p><%= @crop.description %></p>
          <p><%= link_to "Edit", edit_dashboard_crop_path(@crop), class: "btn btn-primary" %></p>
          <p><%= link_to "Return", dashboard_crops_path, class: "btn btn-primary"%></p>
     </div>
    </div>
    <div class="col-sm-4">
      <h3>Inventory</h3>
      <div class="utility_card box__component box__section--padding">
        <p><%= @crop.harvests.sum(:quantity) %> kgs</p>
      </div>
      <h3> Harvests </h3>
      <%= render "harvest_form" %>
    </div>
  </div>
</div>
