<%= simple_form_for(@user, url: dashboard_profiles_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address %>
    <%= f.input :bio %>
    <%= f.input :avatar %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :phone %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
