<%= simple_form_for(@user, url: dashboard_profiles_path, html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :farm_name %>
    <%= f.input :farm_location %>
    <%= f.input :farm_picture %>
    <%= f.input :farm_picture_cache, as: :hidden %>
    <%= f.input :farm_size %>
    <%= f.input :farm_certification %>
    <%= f.input :certificate_issue_date %>
    <%= f.input :certificate_expiration_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
